@page "/categories"
@inherits ListCategoriesPage

<MudText Typo="Typo.h3">Categories</MudText>

<div class="d-flex justify-end">
	<MudButton
		Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.TwoTone.Add" 
		Href="/categorias/adicionar">
		 Nova Categoria
	</MudButton>
</div>